nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 1;
    height: 10vh;

    position: sticky;
    top: 0;
    background-color: var(--midnight-blue);

    padding-left: 5vw;
    padding-right: 5vw;
}


.nav-logo {
    display: flex;
    margin-right: auto;
    margin-top: var(--m);
}
.nav-logo > img {
    height: 8vh;
    width: 8vh;
}


.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;

    /* color: black;
    background-color: var(--desiderata); */
    color: var(--paper-white);
    font-size: clamp(12px, 1vw, 2vw);
    text-decoration: none;

    height: 100%;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}


.nav-link:hover, .active {
    color: black;
    background-color: var(--desiderata);
}