.greetings-typewriter-text {
    /* font-size: var(--xxxl); */
    font-family: Pacifico;
    font-size: clamp(1rem, 20vw, 10rem);
    padding-top: var(--l);
    padding-bottom: var(--l);
}

.greetings-typewriter-cursor {
    font-size: clamp(1rem, 20vw, 8rem);  
    font-weight: 100;
    font-family: Comfortaa;
}
